.feature {

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: -30px;
    margin-left: -30px;

    // width: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin-left: 30px;

  }

}

.feature__item {
  width: 450px;

  @media screen and (min-width: 768px) {
    width: 354px;

    margin-bottom: 30px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;

  }

  @media screen and (min-width: 1200px) {
    width: 270px;


  }
}

.work {
  @media screen and (max-width: 1200px) {
    display: none;

  }

}




/* .flex-cont .flex-section + .flex-section {
  margin-left: 30px;
} */

.feature__header {
  margin-bottom: 10px;
  margin-top: 0px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.feature__text {
  @include font($fs: 14px, $fw: 400, $lh: 1.7, $ls: 0.03em);
  color: $primary-text-color;
  margin-bottom: 0;
  margin-top: 0;
}

.feature__icon {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $button-bg-color;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

}


/* Team */

.flex-team__position {
  @include font($fs: 16px, $fw: 400, $lh: 1.2, $ls: 0.03em);
  color: $primary-text-color;

  margin-top: 0;
  margin-bottom: 16px;
}