footer {
  background-color: $hero-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}


.adress__geo {
  color: $primary-bg-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 9px;
}

.footer__flex-container {


  @include tablet {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
    flex-wrap: wrap;
  }

  @include desktop {}
}

.join-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-bg-color;

  padding-bottom: 20px;
  margin-top: 60px;
}

.join-list {

  display: inline-block;

  @include tablet {
    padding-right: 90px;

  }

  @include desktop {
    padding-left: 70px;
  }
}

.contact-form-mail-label {
  display: block;
  margin-bottom: 20px;
  margin-top: 60px;

  color: $primary-bg-color;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.contact-form-mail {

  padding: 15px 16px;
  width: 100%;
  height: 50px;
  color: $primary-bg-color;


  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  outline: none;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    outline: 2px solid $accent-color;
  }



  @include desktop {
    margin-right: 12px;

    width: 358px;
  }
}

.contact-form-submit-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: $accent-color;
  border-radius: 4px;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: $primary-bg-color;

  cursor: pointer;
  transition: background-color 250ms $add-animation;

  &:focus,
  &:hover {
    background-color: rgba(33, 150, 243, 0.9);
  }

  @media screen and (max-width: 1199px) {
    margin-top: 20px;
  }

  @include tablet {
    // display: block;

  }

}

.btn-footer-icon {
  margin-left: 10px;
}