.header__logo {
  color: $accent-color;
  background-color: $primary-bg-color;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;

  padding-bottom: 32px;
}

.headerSec__logo {
  color: $title-text-color;
  padding-top: 32px;
  padding-bottom: 32px;
}
