.mobile-menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 22px;
    right: 23px;

    @media screen and (min-width: 767px) {
        display: none;
    }

}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 302px;

}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.mobile-menu-button .icon-close-mob {
    display: none;
}

.mobile-menu-button.is-open .icon-close-mob {
    display: block;
}

.mobile-menu-button.is-open .icon-menu {
    display: none;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-color: $primary-bg-color;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}



.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #212121;
    border: none;
    background-color: transparent;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
    color: #2196F3;
}

.mobile-social {
    position: relative;

    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: #2196F3;

    &+& {
        margin-left: 10px;
    }

    &::after {
        content: '';
        width: 22px;
        height: 1px;
        color: rgba(33, 33, 33, 0.2);
        position: absolute;

    }
}

.mobile-social-list {
    margin-top: 64px;
}