.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms $add-animation, visibility 250ms $add-animation;
  overflow: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 95vw;
  min-height: 609px;
  padding-top: 44.5px;
  padding-left: 36px;
  padding-right: 40px;
  padding-bottom: 35px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $add-animation;

  background-color: $primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 480px) {
    width: 450px;

  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    padding-right: 44px;

  }

  @media screen and (rotate) {
    top: 10px;
    transform: translate(-50%) scale(1);
  }

}


.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: $primary-bg-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover .modal-close-icon {
    fill: $accent-color;
  }
}

.flex-cont__box-computer-img {
  position: relative;
}

.flex-cont__text-on-img {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-bg-color;
  background: rgba(47, 48, 58, 0.8);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.title-modal-form {
  display: block;
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: $title-text-color;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: $title-text-color;
}

.modal-form-label {
  position: relative;
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primary-text-color;
}

.icon-wrapper {
  position: relative;
  @extend %align-items;
  justify-content: center;
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 11px;
  /* margin-bottom: 4px; */
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    outline: 0;
    border-color: $accent-color;
  }

  &:focus+.modal-icon {
    fill: $alternative-accent-color;
  }
}

.input-form {
  padding-left: 42px;
}

.textarea-form {
  height: 120px;
  resize: none;
  margin-bottom: 20px;

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

/* FORM IN MODAL */

.checkbox-modal-wrapper {
  margin-bottom: 30px;
}

.modal-form-checkbox-label {
  @extend %align-items;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $primary-text-color;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8.5px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 250ms $add-animation;
  }
}

.modal-form-checkbox {
  &:checked+&-label::before {
    background-color: $alternative-accent-color;
    border: 0px;
    border-radius: 2px;
  }

  &:focus+&-label::before {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.modal-link-policy {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: $accent-color;
  transition: color 250ms $add-animation;

  &:hover,
  &:focus {
    color: #1675c2;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  border: 0;
  border-radius: 4px;
  color: $primary-bg-color;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms $add-animation;

  &:focus,
  &:hover {
    background-color: $alternative-accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}