.page {
  color: $title-text-color;
  background-color: $primary-bg-color;
  font-family: Roboto, sans-serif;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-header {
  border-bottom: 1px solid #eeeeee;
}

.main-nav {
  @extend %align-items;
}

.main-nav .nav-top {
  @extend %align-items;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.site-nav__item+.site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  color: $title-text-color;

  @include font($fs: 14px, $fw: 500, $lh: 1.14, $ls: 0.02em);

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms $add-animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__link--active {

  position: relative;
  color: $accent-color;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

header a {
  padding: 24px 0px;
}



/* Contact */



.connect__mail,
.connect__tel {
  position: relative;
  padding: 32px 0;

  color: $primary-text-color;
  background-color: $primary-bg-color;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: color 250ms $add-animation;
}

.connect>li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.connect {
  display: flex;
  margin-left: auto;
}

.connect__item+.connect__item {
  margin-left: 50px;
}

.icon {
  fill: currentColor;
}

.connect__item .icon {
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

/* .contact-top.contact {
  display: flex;
} */

.connect__tel:hover,
.connect__tel:focus {
  color: $accent-color;
  background-color: $primary-bg-color;
}

.connect__mail:hover,
.connect__mail:focus {
  color: $accent-color;
  background-color: $primary-bg-color;
}