.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
}

.portfolio-filter__button-menu {
  cursor: pointer;
  color: $title-text-color;
  background-color: $button-bg-color;
  border: 1px solid transparent;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;

  padding: 6px 22px;
  margin: 0 8px 15px 0;

  @include tablet {
    margin: 0 8px 0 0;
  }

  @include desktop {
    margin: 0 8px 0 0;

  }

  transition: color 250ms $add-animation,
  background-color 250ms $add-animation,
  box-shadow 250ms $add-animation;

  &:hover,
  &:focus {
    color: $primary-bg-color;
    background-color: $accent-color;
    border-color: transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);

    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.portfolio-filter {
  flex-wrap: wrap;
  justify-content: left;
  display: flex;

  margin-top: 0;
  margin-bottom: 40px;

  @include tablet {
    justify-content: center;
  }

  @include desktop {

    justify-content: center;
  }
}

/* Button */

.hero .button-top {
  color: $primary-bg-color;
  background-color: $accent-color;
  cursor: pointer;

  border-radius: 4px;
  padding: 10px 32px;
  /* min-width: 200px; */
  border-right: 0px;
  border-left: 0px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border: 1px solid transparent;

  transition: background-color 250ms $add-animation;

  &:hover,
  &:focus {
    background-color: $alternative-accent-color;
  }
}