.social__link {
  cursor: pointer;
  @extend %align-items;
  justify-content: center;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $icon-noAction-color;
  background-color: $primary-bg-color;

  transition: background 250ms $add-animation;

  &:hover,
  &:focus {
    align-items: center;
    justify-content: center;
    color: $primary-bg-color;
    background-color: $accent-color;
  }
}

.footer__link-logo {
  padding-right: 70px;
}

.social__icon {
  fill: currentColor;
  transition: color 250ms $add-animation;
}

.social__link+.social__link {
  margin-left: 10px;
}

.social {
  display: flex;
  justify-content: center;
}

/* Постоянные клиенты  */



.element-icon {
  @extend %align-items;
  justify-content: center;
}

.social-footer__icon {
  fill: currentColor;
}

.social-footer__link {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $primary-bg-color;
  background-color: $bgc-icon-footer;

  transition: background-color 250ms $add-animation;

  &:hover,
  &:focus {
    color: $primary-bg-color;
    background-color: $accent-color;
  }
}

.social-footer__link+.social-footer__link {
  margin-left: 10px;
}